In [1]:
import xml.etree.cElementTree as et
import pandas as pd
import numpy as np
from unidecode import unidecode

#pd.set_option('display.max_rows', 4000)

In [2]:
def parseSystems(file):
    tree = et.parse(file)
    root = tree.getroot()
    
    # Desired fields
    Name = [] # Star system name
    PosX = []
    PosY = []
    SystemType = [] # always "Normal"
    SpectralType = []
    Luminosity = []
    SubType = []
    #SystemStatus = [] # always "Normal"
    #ChargingStation = [] # always "None"
    #Orbitals = [] # always "Unspecified"
    #Habitable = [] # always "Unspecified"
    #Description = [] # empty
    #Cluster = [] # always Id=""
    #ClusterOverlay = [] # always "None"
    #ClusterConstellation = [] # always "None"
    PrimarySlot = [] # omit from file
    
    #dict = {'StarSystemName': Name, 'PosX': PosX, 'PosY': PosY, 'SystemType': SystemType,
    #       'SpectralType': SpectralType, 'Luminosity': Luminosity, 'SubType': SubType,
    #        'SystemStatus': SystemStatus, 'ChargingStation': ChargingStation,
    #        'Orbitals': Orbitals, 'Habitable': Habitable, 'Description': Description,
    #        'Cluster': Cluster, "ClusterOverlay": ClusterOverlay, 'ClusterConstellation': ClusterConstellation,
    #        'PrimarySlot': PrimarySlot}

    dict = {'StarSystemName': Name, 'PosX': PosX, 'PosY': PosY,
           'SpectralType': SpectralType, 'Luminosity': Luminosity, 'SubType': SubType,
            'PrimarySlot': PrimarySlot}
    
    # Parse the fields we want
    for id in root.iter('id'):
        Name.append(id.text)
        #SystemType.append('Normal')
        #SystemStatus.append('Normal')
        #ChargingStation.append('None')
        #Orbitals.append('Unspecified')
        #Habitable.append('Unspecified')
        #Cluster.append('(Id="")')
        #ClusterOverlay.append('None')
        #ClusterConstellation.append('None')
    for x in root.iter('xcood'):
        PosX.append(x.text)
    for y in root.iter('ycood'):
        PosY.append(y.text)
    for type in root.iter('spectralType'):
        SpectralType.append(type.text[0])
        SubType.append(type.text[1])
        Luminosity.append(type.text[2:])
    if root.find('.//primarySlot') != None:
        for primary in root.iter('primarySlot'):
            PrimarySlot.append(primary.text)
    else:
        for i in Name:
            PrimarySlot.append("1")
    
    # Create dataframe
    systems = pd.DataFrame(dict)
    display(systems)
    return systems

In [3]:
with open('F:\systems.xml', encoding='utf8') as file:
    systems = parseSystems(file)
    #systems.to_csv('F:\parsed_systems.csv', encoding='utf8')

,StarSystemName,PosX,PosY,SpectralType,Luminosity,SubType,PrimarySlot
0,A Place,-123.764,272.182,G,V,5,2
1,Aalzorg,583.881,256.931,G,V,9,2
2,Abadan,-70.319,-95.949,G,V,2,5
3,Abagnar,380.231,314.823,G,V,9,3
4,Abbadiyah,-317.967,246.551,G,V,2,2
...,...,...,...,...,...,...,...
3141,Transfer Station P9,-115.441,1037.657,G,II,3,2
3142,Trelleborg,109.262,920.57,A,II,9,2
3143,Trinity,-248.762,761.402,G,V,4,3
3144,Wark,-299.568,694.859,G,V,0,2
3145,Wolf Orbital 82,-103.853,683.813,G,IV,6,1

In [4]:
with open('F:\system_connectors.xml', encoding='utf8') as file:
    system_connectors = parseSystems(file)
    #system_connectors.to_csv('F:\parsed_systemConnectors.csv', encoding='utf8')

    StarSystemName  PosX  PosY SpectralType Luminosity SubType PrimarySlot
0         DPR 0101  -137   889            M          V       7           1
1         DPR 0102  -162   894            M          V       5           1
2         DPR 0103  -187   899            M          V       0           1
3         DPR 0104  -212   904            M          V       1           1
4         DPR 0105  -237   909            M          V       0           1
..             ...   ...   ...          ...        ...     ...         ...
592         TFS 38   119  1584            G          V       9           1
593         TFS 39   113  1612            G          V       5           1
594         TFS 40   107  1640            G          V       4           1
595         TFS 41   101  1668            M          V       2           1
596         TFS 42    95  1696            M          V       0           1

[597 rows x 7 columns]

In [5]:
def parseMW5Csv(file):
    df = pd.read_csv(file, usecols=['StarSystemName', 'PosX', 'PosY', 
                                    'SpectralType', 'Luminosity', 'SubType'],
                    na_filter=False, encoding='utf8')
    display(df)
    return(df)

In [6]:
with open('F:\invalid_system.csv', encoding='utf8') as file:
    invalid_system = parseMW5Csv(file)

  StarSystemName  PosX  PosY SpectralType Luminosity  SubType
0        INVALID     0     0         None                   0

In [7]:
with open('F:\extra_systems.csv', encoding='utf8') as file:
    extra_systems = parseMW5Csv(file)

   StarSystemName  PosX  PosY SpectralType Luminosity  SubType
0        JP-H-405   580  -175         None                   0
1        JP-W-395   595  -200         None                   0
2        JP-V-405   620  -215         None                   0
3        JP-S-425   645  -220         None                   0
4        JP-R-381   668  -287         None                   0
5        JP-X-348   648  -300         None                   0
6        JP-K-315   635  -320         None                   0
7        JP-H-664   658     6         None                   0
8        JP-C-719   679    40         None                   0
9        JP-V-707   646    61         None                   0
10      JP-AA-632   520   112         None                   0
11       JP-M-774   455   289         None                   0
12      JP-AA-730   468   262         None                   0
13      HD-276914   390   420         None                   0
14      HD-417328   390   440         None                   0
15        JP-P-59   406  -347         None                   0
16        JP-X-29   362  -391         None                   0
17        JP-L-18   402  -420         None                   0
18        JP-J-47   374  -421         None                   0
19        JP-L-37   428  -465         None                   0
20        JP-F-35   448  -483         None                   0
21       JP-A-109   339  -448         None                   0
22       JP-AA-64   416  -480         None                   0
23       JP-H-158   294  -452         None                   0
24       JP-I-160   269  -429         None                   0
25       JP-B-240   210  -450         None                   0
26       JP-S-273   227  -500         None                   0
27       JP-B-276   210  -486         None                   0
28       JP-I-402    61  -463         None                   0
29       JP-I-408    35  -443         None                   0
30       JP-L-400    90  -490         None                   0
31       JP-T-462    20  -482         None                   0
32       JP-W-560   -55  -505         None                   0
33       JP-D-657  -178  -479         None                   0
34       JP-S-710  -215  -495         None                   0
35      JP-AA-756  -260  -496         None                   0
36       JP-E-736  -255  -481         None                   0
37       JP-G-690  -305  -385         None                   0
38       JP-S-677  -397  -280         None                   0
39       JP-P-815  -452  -363         None                   0
40       JP-G-657  -461  -196         None                   0
41      JP-AA-604  -494  -110         None                   0
42       JP-S-305  -475   170         None                   0
43       JP-H-287  -486   199         None                   0
44       JP-K-241  -457   216         None                   0
45        JP-Q-39  -399   360         None                   0
46       JP-O-329  -167   496         None                   0
47      HD-389202   370   485         None                   0
48      HD-348126   370   510         None                   0
49      HD-367482   350   530         None                   0
50      HD-438297   345   552         None                   0
51      HD-384971   380   465         None                   0

In [8]:
parsed_systems = pd.concat([invalid_system, systems, system_connectors, extra_systems], ignore_index=True)
#parsed_systems.insert(0, 'Name', parsed_systems.index)
#parsed_systems.insert(6, 'Cluster', '(Id="MWFactionAsset:MercenaryRow")')
parsed_systems.to_csv('F:\parsed_systems.csv', encoding='utf8')

display(parsed_systems)

,StarSystemName,PosX,PosY,SpectralType,Luminosity,SubType,PrimarySlot
0,INVALID,0,0,None,,0,NaN
1,A Place,-123.764,272.182,G,V,5,2
2,Aalzorg,583.881,256.931,G,V,9,2
3,Abadan,-70.319,-95.949,G,V,2,5
4,Abagnar,380.231,314.823,G,V,9,3
...,...,...,...,...,...,...,...
3791,HD-389202,370,485,None,,0,NaN
3792,HD-348126,370,510,None,,0,NaN
3793,HD-367482,350,530,None,,0,NaN
3794,HD-438297,345,552,None,,0,NaN
3795,HD-384971,380,465,None,,0,NaN

In [9]:
def parseFactionChanges(file):
    tree = et.parse(file)
    root = tree.getroot()
    
    df = parsed_systems.set_index('StarSystemName') # dataframe for primary planet lookup
    
    primarySlot = 0
    
    # Desired fields
    Name = []
    Primary = []
    FactionChange = [] # should be ((Date="",Faction=""), (Date="",Faction=""))
    
    dict = {'Name': Name, 'Primary': Primary, 'FactionChange': FactionChange}
    
    for system in root.iter('system'):
        for id in system.iter('id'):
            Name.append(id.text)
            # lookup primary planet
            primarySlot = df.loc[id.text]['PrimarySlot']
        for planet in system.findall(f'.//planet/sysPos/[.="{primarySlot}"]/..'):
            Primary.append(primarySlot)
            change = []
            for event in system.findall('.//event/faction/..'):
                date = event.find('date')
                faction = event.find('faction')
                change.append({'Date': date.text, 'Faction': faction.text})
            FactionChange.append(change)
    # Create dataframe
    changes = pd.DataFrame(dict)
    display(changes)

    return changes

In [10]:
with open('F:\system_events.xml', encoding='utf8') as file:
    changes = parseFactionChanges(file)
    changes.to_json('F:\parsed_changes.json', orient='records', indent=2)

,Name,Primary,FactionChange
0,A Place,2,"[{'Date': '2235-04-30', 'Faction': 'IND'}, {'D..."
1,Aalzorg,2,"[{'Date': '2653-09-06', 'Faction': 'OA'}, {'Da..."
2,Abadan,5,"[{'Date': '2168-01-31', 'Faction': 'TA'}, {'Da..."
3,Abagnar,3,"[{'Date': '2712-06-25', 'Faction': 'DC'}]"
4,Abbadiyah,2,"[{'Date': '2423-01-19', 'Faction': 'LA'}, {'Da..."
...,...,...,...
3141,Transfer Station P9,2,"[{'Date': '3052-03-09', 'Faction': 'CW'}, {'Da..."
3142,Trelleborg,2,"[{'Date': '3049-08-17', 'Faction': 'CGB'}, {'D..."
3143,Trinity,3,"[{'Date': '3052-07-29', 'Faction': 'CJF'}, {'D..."
3144,Wark,2,"[{'Date': '3049-04-21', 'Faction': 'CJF'}, {'D..."
3145,Wolf Orbital 82,1,"[{'Date': '3049-10-27', 'Faction': 'CW'}, {'Da..."

In [11]:
def matchMW5ids(file):
    df = pd.read_csv(file, usecols=['Name', 'StarSystemName'],
                    na_filter=False, encoding='utf8')
    matched_systems = pd.merge(parsed_systems, df, on='StarSystemName',
                                       how='left')
    # rearrange and sort for previewing
    matched_systems = matched_systems[['Name', 'StarSystemName', 'PosX', 'PosY',
                                     'SpectralType', 'Luminosity', 'SubType',
                                     'PrimarySlot']]
    name=matched_systems['Name']
    matched_systems.drop(['Name'], axis=1, inplace=True)
    matched_systems.insert(0, 'Name', name)
    matched_systems.sort_values('Name', inplace=True, ignore_index=True)
                                                                          
    display(matched_systems)
    return(matched_systems)

In [12]:
with open('F:\mw5_idsNames.csv', encoding='utf8') as file:
    matched_systems = matchMW5ids(file)
    matched_systems.to_csv('F:\matched_systems.csv', encoding='utf8')

,Name,StarSystemName,PosX,PosY,SpectralType,Luminosity,SubType,PrimarySlot
0,0.0,INVALID,0,0,None,,0,NaN
1,1.0,Terra,0,0,G,V,2,3
2,3.0,Rigil Kentarus,-2.852,2.54,G,V,8,2
3,5.0,Rochelle,-113.791,-15.815,K,V,7,2
4,6.0,Freedom,-64.275,107.739,M,V,5,6
...,...,...,...,...,...,...,...,...
3791,NaN,TFS 38,119,1584,G,V,9,1
3792,NaN,TFS 39,113,1612,G,V,5,1
3793,NaN,TFS 40,107,1640,G,V,4,1
3794,NaN,TFS 41,101,1668,M,V,2,1
3795,NaN,TFS 42,95,1696,M,V,0,1

In [13]:
def matchMW5clusters(file):
    df = pd.read_csv(file, na_filter=False, encoding='utf8')
    mw5clusters = pd.read_csv('F:\system_clusters.csv', usecols=['Name', 'Cluster',
                                                                'ClusterOverlay', 'ClusterConstellation'],
                              na_filter=False, encoding='utf8')
    clustered_systems = pd.merge(df, mw5clusters, on='Name', how='left')
    clustered_systems['Cluster'] = clustered_systems['Cluster'].fillna('(Id="")')
    display(clustered_systems)
    return(clustered_systems)

In [14]:
with open('F:\systems_final.csv', encoding='utf8') as file:
    clustered_systems = matchMW5clusters(file)
    clustered_systems.to_csv('F:\systems_final_with_clusters.csv', encoding='utf8')

,Row,Name,StarSystemName,PosX,PosY,SpectralType,Luminosity,SubType,PrimarySlot,Cluster,ClusterOverlay,ClusterConstellation
0,0,0,INVALID,0.000,0.000,None,,0,,"(Id="""")",None,None
1,1,1,Terra,0.000,0.000,G,V,2,3,"(Id=""MWFactionAsset:RepairSystem_26"")",None,None
2,2,2,New Earth (Tau Ceti 2116-),-12.415,3.055,F,V,0,4,"(Id=""MWFactionAsset:RepairSystem_26"")",/Game/Campaign/CampaignArcs/BorderChanges/_com...,/Game/Campaign/CampaignArcs/BorderChanges/_com...
3,3,3,Rigil Kentarus,-2.852,2.540,G,V,8,2,"(Id=""MWFactionAsset:RepairSystem_26"")",None,None
4,4,4,Pike IV,20.153,39.240,K,IV,9,4,"(Id="""")",None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
3791,5120,5120,TFS 38,119.000,1584.000,G,V,9,1,"(Id="""")",NaN,NaN
3792,5121,5121,TFS 39,113.000,1612.000,G,V,5,1,"(Id="""")",NaN,NaN
3793,5122,5122,TFS 40,107.000,1640.000,G,V,4,1,"(Id="""")",NaN,NaN
3794,5123,5123,TFS 41,101.000,1668.000,M,V,2,1,"(Id="""")",NaN,NaN
3795,5124,5124,TFS 42,95.000,1696.000,M,V,0,1,"(Id="""")",NaN,NaN